<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="public.css">
</head>

<body>
    <a href="/productos">Productos</a>
    <a href="/fabricantes">Fabricantes</a>
    <a href="/categorias">Categorias</a>
</body>

</html>